.header.bg--midnight-blue.tx--center
  h1.tx--white &lt;Jhey Tompkins/&gt;
  .txt.bg--white.bd--alizarin
    p.
      Owww :(
      It looks like you're trying to view this site from an older browser.
      For a proper experience please <a href="http://browsehappy.com/", target="_blank" class="tx--alizarin">upgrade</a> your browser.
    p &copy; jh3y 2015
