doctype
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie9 lt-ie10 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title I'm Jhey Tompkins | jh3y
  meta(rel="author", content="https://plus.google.com/117254872800566192455")
  meta(name="description", content="Polyglot coder, open source advocate and front end developer extraordinaire!")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
  link(href="css/vendor.min.css", rel="stylesheet")
  link(href="css/site-source.min.css", rel="stylesheet")
body(data-octo-nav="true", octo-nav)
  <!--[if IE 8]>
  include ie8Header
  <![endif]-->
  <!--[if gt IE 8]><!-->
  include nav
  include hidden-menu
  .page-content(octo-nav-page-content, octo-nav-panel)
    div(octo-nav-scrollable)
      include header
      .content-wrapper
        header
          h1.tx--white Jhey<br>Tompkins
            a.no--selection(octo-nav-link, href="#menu")
              i.fa.fa-chevron-circle-down.tx--white
        .bg--white
          include menu
          block content
          include footer
  script(src="js/vendor.js")
  script(src="js/site-source.js")
  <!--<![endif]-->
