nav(octo-nav-navigation, octo-nav-panel)
  div(octo-nav-scrollable)
    ul
      li
        a(octo-nav-link, href="#about")
          img.img-responsive(src="img/me.jpg")
          |About
      li
        a(octo-nav-link, href="#skills")
          i.fa.fa-code
          |Skills
      li
        a(octo-nav-link, href="#projects")
          i.fas.fa-keyboard
          |Projects
      li
        a(octo-nav-link, href="#thoughts")
          i.fa.fa-cloud
          |Thoughts
      li
        a(octo-nav-link, href="#contact")
          i.fas.fa-envelope
          |Contact
      li(octo-nav-header) Latest Tweets
      li
        include twitter-feed
      li(octo-nav-header) Extras
      li
        a(octo-nav-link, href="http://github.com/jh3y", target="_blank")
          i.fab.fa-github
          |Follow me
      li
        a(octo-nav-link, href="http://medium.com/@jh3y", target="_blank")
          i.fab.fa-medium
          |Blog
