section#about.bg--white
  .container
    .row
      .col-md-7.col-md-offset-1
        h4.
          I'm Jhey Tompkins
        ul.quotes
          li
            h3 <span class="bg--alizarin tx--white">Front end</span> developer,
          li
            h3 <span class="bg--amethyst tx--white">polyglot</span> coder,
          li
            h3 <span class="bg--emerald tx--white">open source</span> advocate,
          li
            h3 all about things <span class="bg--pomegranate tx--white">HTML</span>, <span class="bg--wet-asphalt tx--white">CSS</span> &amp; <span class="bg--pumpkin tx--white">JavaScript</span>,
          li
            h3 likes <span class="bg--peter-river tx--white">wolverines</span>.
      .col-md-3
          p.columned.text-justify.
            Referred to by some as a polyglot, I have a passion for all things front end and web. I've been fortunate enough to work on projects with and for great names such as Barclaycard, O2, Eurostar, Bank of America Merrill Lynch, M&C Saatchi and Vauxhall Motors. Please do not hesitate to contact me if you have a project you would like to talk about, an opportunity to discuss or just want to chat about something.
