section#contact
  .skin
    .contact-info.text-center
      h3 Let's talk!
      h4.social-icons
        a(href = "mailto:jh3yyy@gmail.com?subject=Hey")
          i.fa.fa-envelope-o
        a(href = "https://github.com/jh3y", target = "_blank")
          i.fa.fa-github
        a(href = "https://twitter.com/_jh3y", target = "_blank")
          i.fa.fa-twitter
        a(href = "skype:jheytompkins?add")
          i.fa.fa-skype
        a(href = "https://plus.google.com/117254872800566192455?rel=author", target = "_blank")
          i.fa.fa-google-plus
        a(href = "https://codepen.io/jh3y", target = "_blank")
          i.fa.fa-codepen
