section#contact
  .skin
    .contact-info.text-center
      h3 Let's talk!
      h4.social-icons
        a(href = "mailto:jh3yyy@gmail.com?subject=Hey")
          i.fa.fa-envelope-o
        a(href = "https://github.com/jh3y", target = "_blank")
          i.fa.fa-github
        a(href = "https://twitter.com/_jh3y", target = "_blank")
          i.fa.fa-twitter
        a(href = "https://codepen.io/jh3y", target = "_blank")
          i.fa.fa-codepen
        a(href = "https://linkedin.com/in/jheytompkins", target = "_blank")
          i.fa.fa-linkedin

