section#projects
  .container
    .row
      .col-md-7.col-md-offset-1
        ul.projects
          each project in projects
            .project(title="#{project.name}")
              h4
                a(href="#{project.url}", target="_blank", class="bg--#{project.color} tx--white")= project.name
                br
              a(href="#{project.url}", target="_blank")= project.description
      .col-md-3
        p
          a.more(href = "https://github.com/jh3y", target = "_blank")
            |See more on Github
            i.fab.fa-github
