section#thoughts.bg--peter-river
  .container
    .row
      .col-md-10.offset-md-1
        .thoughts-bubble
          a.tx--peter-river.hv--belize-hole(href="http://medium.com/@jh3y", target="_blank") Blog 🤓!
          svg(viewBox="0 0 24 24")
            path(d="M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z" )
        //- .thought-wrapper
        //-   .before
        //-   .after
        //-   .thought.bg--clouds.bd--silver
        //-       h4
        //-         a.tx--silver.hv--peter-river(href="http://medium.com/@jh3y", target="_blank") Check out my blog
        //- i#kick.fa.fa-info-circle.tx--white
        //- script.
        //-   var btn = document.getElementById('kick'),
        //-     cloudPiecesOne = document.querySelectorAll('.after')[0],
        //-     cloudPiecesTwo = document.querySelectorAll('.before')[0],
        //-     cloudPiecesThree = document.querySelectorAll('.thought')[0];
        //-   btn.addEventListener('mouseover', function() {
        //-     this.style.opacity = 0;
        //-     cloudPiecesOne.style.display = 'block';
        //-     cloudPiecesOne.className += ' first';
        //-     cloudPiecesTwo.style.display = 'block';
        //-     cloudPiecesTwo.className += ' second';
        //-     cloudPiecesThree.style.display = 'block';
        //-     cloudPiecesThree.className += ' third';
        //-   });
