extends layout-blocks/layout
block content
  include layout-blocks/sections/about
  include layout-blocks/sections/skills
  include layout-blocks/sections/projects
  include layout-blocks/sections/thoughts
  include layout-blocks/sections/contact
